@model MovieStore23.Models.DTO.RegistrationModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Auth Project </title>
    <style>
        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
        }

        .form_area {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: #EDDCD9;
            height: auto;
            width: auto;
            border: 2px solid #264143;
            border-radius: 20px;
            box-shadow: 3px 4px 0px 1px #E99F4C;
        }

        .title {
            color: #264143;
            font-weight: 900;
            font-size: 1.5em;
            margin-top: 20px;
        }

        .sub_title {
            font-weight: 600;
            margin: 5px 0;
        }

        .form_group {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            margin: 10px;
        }

        .form_style {
            outline: none;
            border: 2px solid #264143;
            box-shadow: 3px 4px 0px 1px #E99F4C;
            width: 290px;
            padding: 12px 10px;
            border-radius: 4px;
            font-size: 15px;
        }

            .form_style:focus, .btn:focus {
                transform: translateY(4px);
                box-shadow: 1px 2px 0px 0px #E99F4C;
            }

        .btn {
            padding: 15px;
            margin: 25px 0px;
            width: 290px;
            font-size: 15px;
            background: #DE5499;
            border-radius: 10px;
            font-weight: 800;
            box-shadow: 3px 3px 0px 0px #E99F4C;
        }

            .btn:hover {
                opacity: .9;
            }

        .link {
            font-weight: 800;
            color: #264143;
            padding: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="form_area">
            <p class="title">SIGN UP</p>
            <form asp-action="Registration" method="post">
                <div class="form-group">
                    <label class="sub_title" >Name</label>

                    <input placeholder="Enter your full name" class="form_style" type="text" asp-for="Name" />
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>



                <div class="form-group">
                    <label class="sub_title" >Email</label>
                    <input placeholder="Enter your email" id="email" class="form_style" type="email" asp-for="Email" />
                    <span class="text-danger" asp-validation-for="Email"></span>

                </div>

                <div class="form-group">
                    <label class="sub_title">Username</label>
                    <input placeholder="Enter your username" class="form_style" type="text" asp-for="Username" />
                    <span class="text-danger" asp-validation-for="Username"></span>

                </div>

                <div class="form-group">
                    <label class="sub_title" a>Password </label>
                    <input placeholder="Enter your password" id="password" class="form_style" type="password" asp-for="Password" />
                    <span class="text-danger" asp-validation-for="Password"></span>

                </div>

                <div class="form-group">
                    <label class="sub_title" asp-for="PasswordConfirm">Password confirm</label>
                    <input placeholder="Confirm your password" id="password" class="form_style" type="password" asp-for="PasswordConfirm" />
                    <span class="text-danger" asp-validation-for="PasswordConfirm"></span>

                </div>



                @if (TempData["msg"] != null)
                {
                    <div class="form-group">
                        <span class="text-info">@TempData["msg"]</span>
                    </div>
                }

                <button type="submit" class="btn">Registration</button>
                <a class="link" href="/UserAuthentication/Login">Login</a>
            </form>
        </div>
    </div>
    </div>
</body>
</html>
